@tailwind base;
@tailwind components;
@tailwind utilities;

/* .sticky_header_bottom {
    background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0));
    width: 100%;
    height: 19px;
} */

.radix-themes {
    --default-font-family: Verdana, Geneva, sans-serif;
    /* --default-font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
        Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol; */
}

body,
html {
    font-family: Verdana, Geneva, sans-serif;
}
